<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scw.ibatis.test.mapper.TestMapper">

	<select id="query"
		parameterType="java.lang.String" resultType="java.lang.Integer">
		select * from user
	</select>
</mapper>